/* ----------------------------------------*/
/*-------------- color: #ea2027-----------*/
/* ----------------------------------------*/

/*Reusable Component*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

.row {
  max-width: 1140px;

  /*margin: 0 auto 0 auto;  top right bottom left */
  margin: 0 auto;
  /*
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  */
}

/*-----------------------------  Header ------------------------------ */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.Vada-pav-bhaji {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1140px;
  transform: translate(-50%, -50%);
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 50px;
}

h1 {
  margin: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%; /*Relative of base font size: 20*2.4 = 48.0 */
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: 1px;
  word-spacing: 4px;
  text-transform: uppercase;
}

.btn {
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
}

.btn-full {
  color: #fff;
  border: 1px solid #ea2027;
  background-color: #ea2027;
}

.btn-ghost {
  color: #ea2027;
  border: 1px solid #ea2027;
  margin-left: 20px;
}

.btn-ghost:hover {
  background-color: #ea2027;
  color: #fff;
}

.btn-full:hover {
  background-color: #ce1a20;
}

/* ------------------------------------*/
/* ---------- Logo & navigation ------*/
/* -----------------------------------*/

.logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
  border-radius: 50%;
}

.main-nav li {
  display: inline-block;
  margin-right: 40px;
}

.main-nav li a {
  text-decoration: none;
  color: #ea2027;
  font-weight: 300;
  font-size: 25px;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #ea2027;
}

/* ------------------------------------*/
/* ---------- Section : get-details ------*/
/* -----------------------------------*/
section {
  padding: 85px 0;
}

h2 {
  font-size: 185%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-align: center;
}

h2:after {
  display: block;
  content: "";
  width: 100px;
  height: 2px;
  background-color: #ea2027;
  margin: 0 auto; /* display the content at centre*/
  margin-top: 20px;
}
.get-text {
  line-height: 145%; /*when u give value in % meaning it is relative*/
  width: 70%;
  margin: 0 15%;
  margin-bottom: 30px; /*when u give css value in px, meaning it is absolute*/
}

h3 {
  font-weight: 300;
  font-size: 110%;
  text-transform: uppercase;
  margin-bottom: 11px;
}

.all p {
  font-size: 90%;
  line-height: 145%;
  text-align: justify;
}

ion-icon {
  color: #ed3f45;
  font-size: 350%;
  margin: 10px 0;
}

/* ------------------------------------*/
/* ---------- Section-food   ------*/
/* -----------------------------------*/
.section-food {
  padding: 0px;
}
.food-img {
  list-style: none;
  width: 100%;
}
.food-img li {
  width: 25%;
  float: left;
}

.menu {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.menu img {
  opacity: 0.7;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.menu img:hover {
  opacity: 1;
  transform: scale(1.04);
}

/* ------------------------------------*/
/* ---------- Section-Steps  ------*/
/* -----------------------------------*/

.section-steps {
  background-color: rgb(248, 243, 243);
}

.step-box:first-child {
  text-align: right;
  padding-right: 4%;
  margin-top: 30px;
}

.app-screen {
  width: 40%;
}

.step-box:last-child {
  padding-left: 4%;
  margin-top: 70px;
}
.works-step {
  margin-bottom: 50px;
}

.works-step div {
  color: #ea2027;
  border: 2px solid #ea2027;
  display: inline-block;
  border-radius: 50%;
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 10px;
  margin-right: 25px;
}

/* Fix layouting */
.vada::after {
  content: "";
  clear: both;
  display: table;
}
